# dependencies
/node_modules

# testing
/coverage

# production
/build
dist
dist-ssr

# misc
*.pem
*.local
*.sketch
*.fig
*.xd

# Logs
logs
*.log
npm-debug.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.prettierignore