.avatar {
	width: 2.6em;
	aspect-ratio: 1;
	position: relative;
}

.avatar_border {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 2px solid #000;
	opacity: 0.1;
	border-radius: 50%;
}

.icon {
	width: 0.7rem;
	height: 0.7rem;
}

.button_respond {
	border: none;
	background-color: var(--c-moderate-blue);
	color: var(--c-very-light-gray);
	padding-block: 1em;
	padding-inline: 1.8em;
	border-radius: var(--bdrs-global);
	text-transform: uppercase;
	font-family: var(--ff-primary);
	font-weight: 500;
}

.button_respond:active {
	opacity: 0.3;
}

.comments_container {
	width: 90vw;
	max-width: 75ch;
	margin-inline: auto;
	margin-block: 2em;
}

.comments_threads_container,
.comments_thread_container {
	list-style: none;
}

.comments_threads_container {
	--reply-inline-spacer: 1.2em;

	grid-column: full;

	@media (--viewport-lg) {
		--reply-inline-spacer: 4em;
	}
}

.comment_thread_wrapper:not(:first-child) {
	position: relative;
	padding-inline-start: var(--reply-inline-spacer);
}

.comment_thread_wrapper:not(:first-child)::before {
	content: "";
	display: block;
	width: 2px;
	height: calc(100% + 1em);
	background-color: var(--c-light-gray);
	position: absolute;
	left: 0;

	@media screen and (min-width: 1024px) {
		left: calc(var(--reply-inline-spacer) / 2);
	}
}

.comment_thread_wrapper:not(:first-child):last-child::before {
	height: 100%;
}

.comment_wrapper {
	margin-block-end: 1em;
}

.comment_container {
	background-color: var(--c-white);
	margin-block-end: 1em;
	padding-block: 1em;
	padding-inline: 1em;
	border-radius: var(--bdrs-global);
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	row-gap: 1em;

	@media (--viewport-md) {
		column-gap: 1.5em;
	}

	@media (--viewport-lg) {
		grid-template-columns: initial;
		column-gap: 2em;
		row-gap: 1em;
		padding-block: 1.5em;
		padding-inline: 1.5em;
	}
}

.comment_details_container {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: repeat(3, max-content);
	align-items: center;
	column-gap: 1em;
	row-gap: 0.7em;

	@media (--viewport-sm) {
		grid-template-columns: repeat(4, max-content);
	}

	@media (--viewport-lg) {
		grid-column: 2 / span 1;
		grid-row: 1 / span 1;
	}
}

.comment_details_username {
	font-weight: 700;
	color: var(--c-dark-blue);
}

.comment_details_label {
	background-color: var(--c-moderate-blue);
	padding-inline: 0.5em;
	color: var(--c-white);
	font-weight: 500;
	border-radius: var(--bdrs-global);
}

.comment_details_date {
	grid-column: 1 / -1;
	grid-row-start: 2;

	@media (--viewport-sm) {
		grid-column: initial;
		grid-row-start: initial;
	}
}

.comment_content_container {
	grid-column: 1 / -1;

	@media (--viewport-lg) {
		grid-column: 2 / span 2;
		grid-row: 2 / span 1;
	}
}

.comment_content_commenter {
	color: var(--c-moderate-blue);
	font-weight: 700;
}

.comment_score_container {
	width: fit-content;
	height: 2.5em;
	background-color: var(--c-very-light-gray);
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 0.2em;
	border-radius: var(--bdrs-global);

	@media (--viewport-lg) {
		grid-column: 1 / span 1;
		grid-row: 1 / span 2;
		flex-direction: column;
		min-width: 44px;
		height: fit-content;
	}
}

.comment_score_toggle {
	background-color: unset;
	border: unset;
	min-width: 44px;
	min-height: 44px;
	color: var(--c-light-grayish-blue);
	vertical-align: middle;
	cursor: pointer;
}

.comment_score_toggle[aria-pressed="true"] {
	color: var(--c-grayish-blue);
}

.comment_score_value {
	color: var(--c-moderate-blue);
	font-weight: 700;
}

.comment_useraction_container,
.comment_reply_button_wrapper {
	align-items: center;
	vertical-align: middle;
}

.comment_useraction_container {
	grid-row-start: 4;
	grid-column: 1 / -1;
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 2em;

	@media (--viewport-sm) {
		grid-row-start: initial;
		grid-column: initial;
		justify-content: flex-end;
	}
}

.comment_action_button {
	background-color: unset;
	border: unset;
	min-width: 44px;
	min-height: 44px;
	width: fit-content;
	height: fit-content;
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 0.4em;
	cursor: pointer;
	font-weight: 700;
}

.comment_action_button:active {
	opacity: 0.4;
}

.comment_delete_button {
	color: var(--c-soft-red);
}

.comment_edit_button {
	color: var(--c-moderate-blue);
}

.comment_reply_button_wrapper {
	justify-self: flex-end;
}

.comment_reply_button {
	color: var(--c-moderate-blue);
}

.newresponse_container {
	background-color: var(--c-white);
	grid-column: full;
	display: grid;
	grid-template-columns: max-content 1fr;
	padding-block: 0.7em;
	padding-inline: 0.7em;
	border-radius: var(--bdrs-global);

	@media (--viewport-lg) {
		grid-template-columns: auto 1fr auto;
		align-items: flex-start;
		column-gap: 1.5em;
	}
}

.newresponse_form_container {
	display: contents;
}

.newresponse_form_textarea {
	grid-column: 1 / span 2;
	grid-row: 1 / span 1;
	height: 7rem;
	margin-block-end: 1.5em;
	padding-inline: 1em;
	padding-block: 0.5em;
	font-family: var(--ff-primary);
	line-height: 1.5;
	border-color: var(--c-light-gray);
	border-width: 2px;
	border-radius: var(--bdrs-global);
	resize: none;

	@media (--viewport-md) {
		height: 6em;
	}

	@media (--viewport-lg) {
		grid-column: 2 / span 1;
	}
}

.newresponse_form_button {
	justify-self: flex-end;
	cursor: pointer;

	@media (--viewport-lg) {
		grid-column: 3 / span 1;
	}
}

.newresponse_avatar_wrapper {
	grid-column: 1 / span 1;
	grid-row: 2 / span 1;
	align-self: center;

	@media (--viewport-lg) {
		align-self: initial;
		grid-row: 1 / span 1;
	}
}
