.avatar {
	width: 45px;
	aspect-ratio: 1;
	position: relative;
}

.avatar_border {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 2px solid #000;
	opacity: 0.1;
	border-radius: 50%;
}

.icon {
	width: 0.7rem;
	height: 0.7rem;
}

.button_action {
	border: none;
	background-color: var(--c-moderate-blue);
	color: var(--c-very-light-gray);
	padding-block: 0.8em;
	padding-inline: 1.6em;
	border-radius: var(--bdrs-global);
	text-transform: uppercase;
	font-family: var(--ff-primary);
	font-weight: 500;
}

.button_action:hover {
	cursor: pointer;
}

.button_action:active {
	opacity: 0.3;
}

.form_textarea {
	height: 7rem;
	padding-block: 0.5em;
	padding-inline: 1em;
	font-family: var(--ff-primary);
	line-height: 1.5;
	border-color: var(--c-light-gray);
	border-width: 2px;
	border-radius: var(--bdrs-global);
	resize: none;

	@media (--viewport-md) {
		height: 6em;
	}
}

.comments_container {
	width: 90vw;
	max-width: 75ch;
	margin-inline: auto;
	margin-block: 2em;
}

.comments_threads_container,
.comments_thread_container {
	list-style: none;
}

.comments_threads_container {
	--reply-inline-spacer: 1.2em;

	grid-column: full;

	@media (--viewport-lg) {
		--reply-inline-spacer: 4em;
	}
}

.comment_thread_wrapper:not(:first-child) {
	position: relative;
	padding-inline-start: var(--reply-inline-spacer);
}

.comment_thread_wrapper:not(:first-child)::before {
	content: "";
	display: block;
	width: 2px;
	height: calc(100% + 1em);
	background-color: var(--c-light-gray);
	position: absolute;
	left: 0;

	@media screen and (min-width: 1024px) {
		left: calc(var(--reply-inline-spacer) / 2);
	}
}

.comment_thread_wrapper:not(:first-child):last-child::before {
	height: 100%;
}

.comment_wrapper {
	margin-block-end: 1em;
}

.comment_container {
	background-color: var(--c-white);
	margin-block-end: 0.5em;
	padding-block: 1em;
	padding-inline: 1em;
	border-radius: var(--bdrs-global);
	display: grid;
	align-items: center;
	row-gap: 1em;

	@media (--viewport-md) {
		column-gap: 1.5em;
	}

	@media (--viewport-lg) {
		grid-template-columns: max-content repeat(2, auto);
		column-gap: 2em;
		row-gap: 1em;
		padding-block: 1.5em;
		padding-inline: 1.5em;
	}
}

.comment_container:only-child {
	margin-block-end: 1em;
}

.comment_details_container {
	grid-column: 1 / span 2;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	column-gap: 1em;
	row-gap: 0.7em;

	@media (--viewport-sm) {
		grid-template-columns: repeat(4, max-content);
	}

	@media (--viewport-lg) {
		grid-column: 2 / span 1;
		grid-row: 1 / span 1;
	}
}

.comment_details_username {
	font-weight: 700;
	color: var(--c-dark-blue);
}

.comment_details_label {
	background-color: var(--c-moderate-blue);
	padding-inline: 0.5em;
	color: var(--c-white);
	font-weight: 500;
	border-radius: var(--bdrs-global);
}

.comment_content_container {
	grid-column: 1 / span 2;

	@media (--viewport-lg) {
		grid-column: 2 / span 2;
		grid-row: 2 / span 1;
	}
}

.comment_content_commenter {
	color: var(--c-moderate-blue);
	font-weight: 700;
}

.comment_content_form {
	text-align: end;
}

.comment_content_form_textarea {
	width: 100%;
}

.comment_score_container {
	width: fit-content;
	height: 2.5em;
	background-color: var(--c-very-light-gray);
	grid-column-start: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 0.2em;
	border-radius: var(--bdrs-global);

	@media (--viewport-lg) {
		grid-column: 1 / span 1;
		grid-row: 1 / span 2;
		flex-direction: column;
		min-width: 44px;
		height: fit-content;
		align-self: flex-start;
	}
}

.comment_score_toggle {
	background-color: unset;
	border: unset;
	min-width: 44px;
	min-height: 44px;
	color: var(--c-light-grayish-blue);
	vertical-align: middle;
}

.comment_score_toggle:hover {
	cursor: pointer;
}

.comment_score_toggle[aria-pressed="true"] {
	color: var(--c-grayish-blue);
}

.comment_score_value {
	color: var(--c-moderate-blue);
	font-weight: 700;
}

.comment_useraction_container,
.comment_reply_button_wrapper {
	align-items: center;
	vertical-align: middle;
}

.comment_useraction_container {
	grid-column-start: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 2em;

	@media (--viewport-sm) {
		grid-column-start: 2;
		justify-content: flex-end;
	}

	@media (--viewport-lg) {
		grid-column-start: 3;
	}
}

.comment_action_button {
	background-color: unset;
	border: unset;
	min-width: 44px;
	min-height: 44px;
	width: fit-content;
	height: fit-content;
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 0.4em;
	font-weight: 700;
}

.comment_action_button:hover:not(:disabled) {
	cursor: pointer;
}

.comment_action_button:active,
.comment_action_button:disabled {
	opacity: 0.4;
}

.comment_delete_button {
	color: var(--c-soft-red);
}

.comment_edit_button {
	color: var(--c-moderate-blue);
}

.comment_reply_button_wrapper {
	grid-column-start: 2;
	justify-self: flex-end;

	@media (--viewport-lg) {
		grid-column-start: 3;
	}
}

.comment_reply_button {
	color: var(--c-moderate-blue);
}

.newresponse_container {
	grid-column: full;
	background-color: var(--c-white);
	display: grid;
	grid-template-columns: max-content 1fr;
	column-gap: 1.5em;
	row-gap: 1.5rem;
	padding-block: 0.7em;
	padding-inline: 0.7em;
	border-radius: var(--bdrs-global);

	@media (--viewport-lg) {
		grid-template-columns: auto 1fr auto;
		align-items: flex-start;
		padding-block: 1em;
		padding-inline: 2em;
	}
}

.newresponse_form_container {
	display: contents;
}

.newresponse_form_textarea {
	grid-column: 1 / span 2;
	grid-row: 1 / span 1;

	@media (--viewport-lg) {
		grid-column: 2 / span 1;
	}
}

.newresponse_form_button {
	justify-self: flex-end;

	@media (--viewport-lg) {
		grid-column: 3 / span 1;
	}
}

.newresponse_avatar_wrapper {
	grid-column: 1 / span 1;
	grid-row-start: 2;
	align-self: center;

	@media (--viewport-lg) {
		align-self: unset;
		grid-row-start: 1;
	}
}

/**
 * 1. Make the dialog container, and its child overlay spread across
 *    the entire window.
 */
.dialog_container,
.dialog_overlay {
	position: fixed; /* 1 */
	top: 0; /* 1 */
	right: 0; /* 1 */
	bottom: 0; /* 1 */
	left: 0; /* 1 */
}

/**
  * 1. Make sure the dialog container and all its descendants sits on
  *    top of the rest of the page.
  * 2. Make the dialog container a flex container to easily center the
  *    dialog.
  */
.dialog_container {
	z-index: 2; /* 1 */
	display: flex; /* 2 */
}

/**
  * 1. Make sure the dialog container and all its descendants are not
  *    visible and not focusable when it is hidden.
  */
.dialog_container[aria-hidden="true"] {
	display: none; /* 1 */
}

/**
  * 1. Make the overlay look like an overlay.
  */
.dialog_overlay {
	background-color: rgb(43 46 56 / 0.9); /* 1 */
}

/**
  * 1. Vertically and horizontally center the dialog in the page.
  * 2. Make sure the dialog sits on top of the overlay.
  * 3. Make sure the dialog has an opaque background.
  */
.dialog_content_container {
	margin: auto; /* 1 */
	z-index: 2; /* 2 */
	position: relative; /* 2 */
	background-color: var(--c-white); /* 3 */
	width: 90%;
	max-width: 40ch;
	padding-block: 1rem;
	padding-inline: 1rem;
	border-radius: var(--bdrs-global);
}

.dialog_title {
	margin-block-end: 0.7em;
	color: var(--c-dark-blue);
	font-weight: 700;
}

.dialog_content {
	margin-block-end: 0.7em;
}

.dialog_buttons_container {
	width: 100%;
	display: flex;
	flex-direction: row;
	column-gap: 1rem;
	justify-content: center;
}

.dialog_button {
	border: unset;
	width: fit-content;
	height: fit-content;
	padding-block: 0.5rem;
	padding-inline: 0.7rem;
	color: var(--c-white);
	font-family: var(--ff-primary);
	text-transform: uppercase;
	font-size: smaller;
	border-radius: var(--bdrs-global);
}

.dialog_button_cancel {
	background-color: var(--c-grayish-blue);
}

.dialog_button_delete {
	background-color: var(--c-soft-red);
}
