@import "reset.css";

:root {
	--c-moderate-blue: hsl(238, 40%, 52%);
	--c-soft-red: hsl(358, 79%, 66%);
	--c-light-grayish-blue: hsl(239, 57%, 85%);
	--c-pale-red: hsl(357, 100%, 86%);
	--c-dark-blue: hsl(212, 24%, 26%);
	--c-grayish-blue: hsl(211, 10%, 45%);
	--c-light-gray: hsl(223, 19%, 93%);
	--c-very-light-gray: hsl(228, 33%, 97%);
	--c-white: hsl(0, 0%, 100%);
}

body {
	background-color: var(--c-very-light-gray);
	color: var(--c-grayish-blue);
	font-family: var(--ff-primary);
	line-height: 1.5;
	hyphens: auto;
}
